<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR code</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
    <div class="rootdiv">
        <h1>QR code generator</h1>
        <form action="/generate-qr" method="POST" class="form" >
            <textarea name="text" placeholder="Enter URL...."></textarea>
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>